body{
  background-color: #333;
  font-family: 'Times New Roman', Times, serif; 
  margin: 0;
  
}

/*INDEX.HTML*/

.inicio{
  background-color: #333;
  margin-top: -27px;
  padding-bottom: 1rem;
}

.logo{
    text-shadow: 2px 2px 4px #000000;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: #c75102; 
    text-decoration: none;
    font-size: 20px;
    position: relative;
    left: 2rem;
    top: 2rem;
}

.menu{
  list-style-type: none;
  display: flex;
  padding: 0;
}

.menu li{
  margin-right: 50px;  
}

.menu a{
  text-decoration: none;
  color: #333;
  font-size: 20px;
  position: relative;
  top: 1rem;
  left: 65rem;
}

.menu a:hover{
  color: #c75102;
}
  

/*SOBRE.HTML*/



/*CADASTRO.HTML*/

.cadastro{
  background-color: #f4f4f4;
  margin-top: -27px;
  padding-bottom: 1rem;
}

.logocad{
    text-shadow: 2px 2px 4px #000000;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: #c75102; 
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 2rem;
}

.menu a #cad{
  text-align: center;
}

.cadastre-se h2{
  text-shadow: 2px 2px 4px #000000;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  color: #c75102; 
  text-decoration: none;
  font-size: 30px;
}

.cadastre-se{
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  color: #222;
}

.cadastre-se input{
   width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#enviar{
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  
}

#enviar:hover{
  background-color: #c75102;
}