body {
  background-color: #333;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

header {
  padding: 1rem;
}

.inicio,
.cadastro {
  background-color: #333;
  margin-top: 0;
  padding-bottom: 1rem;
}

.logo,
.logocad,.sobre {
  text-shadow: 2px 2px 4px #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #c75102;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
}

.menu li {
  margin: 0;
}

.menu a {
  text-decoration: none;
  color: #c75102;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #ff8000;
}

.cadastre-se {
  background-color: #f4f4f4;
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  color: #222;
}

.cadastre-se h2 {
  color: #c75102;
  text-shadow: 2px 2px 4px #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  text-align: center;
}

.cadastre-se input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#enviar {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

#enviar:hover {
  background-color: #c75102;
}

footer {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
  text-align: center;
}

/* Layout de altura total com flexbox */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /* Faz o conteúdo crescer para ocupar o espaço disponível */
}

/* Rodapé fixo no final */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}


/* -------- MEDIA QUERY -------- */
@media (max-width: 768px) {
  .logo,
  .logocad {
    font-size: 1.5rem;
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu a {
    font-size: 1rem;
  }

  .cadastre-se {
    margin: 1rem;
  }

  .cadastre-se h2 {
    font-size: 1.2rem;
  }

  #enviar {
    font-size: 1rem;
  }
}
